*{
    padding: 0px;
    margin: 0px;
}
header{
  background-color: #23376d;
  color: white;
  text-align: center;
  padding: 15px;
}
.section-header  {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
  }

  .imgs  {
    height: 200px;
    width: 350px;
    text-align: center;
    
  }
  #services .description {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 0;
  }
  #imgas{
    height: 200px;
    width: 350px;
    text-align: center;
  }
  #imgs{
    height: 200px;
    width: 350px;
    text-align: center;
  }